<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route id="ecentura" frontName="ecentura">
			<module name="Ecentura_InternshipTest" before="Magento_Backend"/>
		</route>
		<route frontName="ecentura_internshiptest" id="ecentura_internshiptest">
			<module before="Magento_Backend" name="Ecentura_InternshipTest"/>
		</route>
	</router>
</config>
